
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<style>
    label {
        margin-left: 450px;
    }

    input {
        margin-left: 450px;
    }
</style>
<h6 style="color:#ff0000;text-align:center;font-weight: bold;"> Đăng nhập</h6>
<form action="action_page.php">
    <div class="container">
        <label for="text"><b>Mã sinh viên</b></label>
        <input type="text" id="idSinhVien" name="idSinhVien">

        <label style="margin-left: 450px;" for="psw"><b>Mật khẩu</b></label>
        <input type="text" id="passwordSV" name="passwordSV">


        <button style="margin-top: 80px; margin-left:45%; margin-bottom:10px" type="submit" class="registerbtn">Đăng nhập</button>
    </div>
</form>
